body {
            padding-left: 40px;
            background: #57767F;
            font-family: arial;
        }

        input,
        textarea {
            font-family: courier new;
            font-size: 12px;
        }

        #content {
            width: 800px;
            text-align: left;
            margin-left: 60px;
        }

        #chat {
            border: 1px solid #aaaaaa;
            padding: 4px;
            background: #232D2F;
            color: white;
        }

        #nick {
            border: none;
            border-bottom: 1px solid #aaaaaa;
            padding: 4px;
            background: #57767F;
        }

        #message {
            border: none;
            border-bottom: 1px solid #aaaaaa;
            padding: 4px;
            background: #57767F;
        }